* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	font-family: sans-serif;
}

body .main {
}
.rub {
	background-color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	font-size: 3rem;
}

.rub h1 {
	margin: 2rem 0;
	color: #fff;
}

.main {
	display: flex;
	justify-content: center;
	width: auto;
	height: 50vh;
	align-items: center;
}

.main p {
	flex-direction: column;
	width: 500px;
	margin-left: 1rem;
	color: #fff;
	row-gap: 1rem;

	top: 0;
}

.main img {
	width: 400px;
}

.text {
	font-weight: 600;
}

.text p:not(:first-child) {
	margin-top: 1rem;
}
